	.login-container {
		margin: 0 auto;
		padding: 25rpx;

		.logo {
			display: flex;
			flex-direction: column;
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			align-items: center;

			image {
				width: 280rpx;
			}
		}

		.login-form-item {
			padding: 15rpx;
			display: block;

			.label {
				font-size: 36rpx;
				display: block;
				margin-bottom: 11rpx;
			}

			.input {
				padding: 20rpx;
				font-size: 32rpx;
				border-bottom: 1rpx solid #DDDDDD;
			}

			.login-form-button {
				text-align: center;
				background: #007AFF;
				color: #FFFFFF;
				border-radius: 50rpx;
			}

			.login-text {
				display: flex;
				justify-content: space-between;
				font-size: 28rpx;
				color: #777777;
			}
		}
	}